@namespace MyComp
@inject OrderState orderState

<div>
    <ul>
        @foreach (var orderItem in orderState.OrderItems)
        {
            <li>@orderItem.ItemId - @orderItem.Quantity</li>
        }
    </ul>
</div>

@code {
    protected override void OnInitialized()
    {
        orderState.OnChange += StateHasChanged;
    }
}
