@namespace MyComp
@inject OrderState orderState

<div class="row">
    @foreach (var item in orderState.Items)
    {
        <div class="col-4">
            @item.Name - @item.Price
            <button class="btn btn-primary" @onclick="() => orderState.AddItem(item, 1)">Add</button>
        </div>
    }
</div>


@code {
}
