@using WebApp.Components.Pages.Setting.Components
@page "/settings"

<PageTitle>Settings</PageTitle>

<div class="row">
    <div class="col-6 p-2">
        <Items></Items>
    </div>
    <div class="col-6 p-2">
        <Ingredients></Ingredients>
    </div>
</div>
