@page "/orders"
@inject IOrderService orderService

<PageTitle>Orders</PageTitle>

<div class="row">
    <div class="col">
        <ul class="list-group mt-2">
            @foreach (var order in orders)
            {
                <li class="list-group-item mb-2">An item</li>
            }
        </ul>
    </div>
</div>

@code {
    private IEnumerable<OrderDto> orders = Enumerable.Empty<OrderDto>();

    protected override async Task OnInitializedAsync()
    {
        orders = await orderService.GetOrders();
    }
}
