@page "/orders"
@inject IOrderService orderService

<PageTitle>Orders</PageTitle>

@foreach (var order in orders)
{
    <div>@order.Id - @order.OrderItems.Count</div>
}

@code {
    private IEnumerable<OrderDto> orders = Enumerable.Empty<OrderDto>();

    protected override async Task OnInitializedAsync()
    {
        orders = await orderService.GetOrders();
    }
}
