<div class="d-flex flex-column flex-shrink-0 bg-light rounded-pill" style="width: 4.5rem;">
    <a href="/"
       class="d-block p-3 link-dark text-decoration-none text-center fs-4"
       data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-original-title="C-coffee">
        <i class="bi bi-bootstrap"></i>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center fs-5">
        <li class="nav-item">
            <NavLink href=""
                     Match="NavLinkMatch.All"
                     class="nav-link py-3 border-bottom"
                     aria-current="page"
                     data-bs-toggle="tooltip"
                     data-bs-placement="right"
                     data-bs-original-title="Home">
                <i class="bi bi-file"></i>
            </NavLink>
        </li>
        <li>
            <NavLink href="orders"
                     Match="NavLinkMatch.All"
                     class="nav-link py-3 border-bottom"
                     data-bs-toggle="tooltip"
                     data-bs-placement="right"
                     data-bs-original-title="Orders">
                <i class="bi bi-file-text"></i>
            </NavLink>
        </li>
        <li>
            <NavLink href="settings"
                     Match="NavLinkMatch.All"
                     class="nav-link py-3 border-bottom"
                     data-bs-toggle="tooltip"
                     data-bs-placement="right"
                     data-bs-original-title="Settings">
                <i class="bi bi-gear"></i>
            </NavLink>
        </li>
    </ul>
    <div class="dropdown border-top">
    </div>
</div>