@using WebApp.Components.Pages.Home.Components
@page "/"
@rendermode InteractiveServer
@inject OrderState orderState

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-8">
        <Items></Items>
    </div>
    <div class="col-4">
        <ItemsCard></ItemsCard>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await orderState.GetItems();
    }
}